name: Build and deploy

on:
  push:
    branches: ["master"]

permissions:
  contents: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: app/package-lock.json

      - name: Install
        working-directory: app
        run: npm ci

      - name: Build
        working-directory: app
        run: npm run build

      - name: Add CNAME
        run: echo "wenjian.dev" > app/dist/CNAME

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: app/dist
          publish_branch: gh-pages
          force_orphan: true
